p,
span {
  font-size: 1.5rem;
  font-family: Arial;
  color: #99627a;
}

input {
  height: 2rem;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-right: 0.7rem;
}

button {
  height: 2.2rem;
  width: 7rem;
  font-size: 1.4rem;
  color: white;
  background-color: #99627a;
}

button:hover {
  color: #99627a;
  background-color: white;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.msg {
  color: black;
}

